.container{
    width: 80%;
    margin:50px auto;

}
.container-box{
    background-color: #fff;
    display: flex;
}
.contact-left{
    flex-basis: 60%;
    padding: 40px 60px;
}
.contact-right{
    flex-basis: 40%;
    padding: 40px;
    /* background-color:rgba(223, 232, 236, 0.733); */
    color: rgb(19, 18, 18);
    align-items: center !important;
    border-left: 1px solid black;
}


h1{
    margin-bottom: 1rem;
    color: var(--theme-dark-blue) !important;
}
.contact-left h3{
    color: var(--theme-dark-blue) !important;
}
.container p{
    margin-bottom: 40px;
}
.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-basis: 45%;
}
input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;

}
textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
    }
    label{
        margin-bottom: 6px;
        padding-right: 1rem;
        display: block;
        color: var(--theme-dark-blue);
    }
    button{
        background-color:white ;
        width: 100px;
        border:none;
        outline: none;
        background-color: var(--theme-dark-blue);
        color: white;
        height: 35px;
        border-radius:15px !important;
        margin-top:20px ;
        font-family: bold !important;
        letter-spacing: 2px !important;
        

    }
    /* button:hover{
        color:white ;
        background-color: #6400b5;
        
    } */
    .contact-left h3{
        /* color: #1c00b5; */
        font-weight: 600;
        margin-bottom:35px ;

    }
    .contact-right h3{
        font-weight: 600;
        margin-bottom:35px ;
        text-align: center;

    }
    /* .tbl{ */
        /* margin-left: 5rem; */
    /* } */
    /* tr td :first-child{ */
        /* margin-left: 20px; */
    /* } */

    tr td{
        padding-top: 20px;
    }