@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(143, 143, 184);
    font-size:15px;
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
}


.apna-bus-navbar{
    background:linear-gradient(rgba(177, 171, 171, 0.729),rgba(89, 151, 172, 0.8)) !important;
    font-size: 1rem !important;
}

/* .logo_bg{
    content: url('./Assets/image/logo-bg.png');
    width: 7rem !important;
    opacity: 0.5 !important;
    position:absolute !important;
    top: 0.7rem;
    margin-left:-1.8rem !important;
    transition: 0.5s ease-out;

} */

.navbar-brand{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:1.3rem !important;
    color: #ffffff !important;
    position: relative;
    margin-left: 0.6rem !important; 
}
.logo_dg{
    width: 3rem !important;
    height: 1rem !important;
    size: 0.1rem;
}
.navbar-brand .logo_dg:hover{
    text-shadow: 0px 0px 20px rgb(147, 162, 176);

}
.mun{
    color: rgb(255, 255, 255) !important;
}
.nav-item .line{
    background-color: rgb(19, 115, 153);
    height: 0.2rem;
    margin:-0.5rem 0 0 0.3rem;
    width:0%;
    left:auto;
    right: auto;
    border-radius: 0.5rem;
    transition:width 0.7s ease-in-out;
    opacity: 0;
}
.nav-item .nav-link:hover ~.line{
    opacity: 1;
    left:auto;
    right: auto;
    width: 90%;
}
.nav-item .nav-link:hover{
    color:rgb(43, 48, 48) !important;
}


.container{
    width: 80%;
    margin:50px auto;

}
.container-box{
    background-color: #fff;
    display: flex;
}
.contact-left{
    flex-basis: 60%;
    padding: 40px 60px;
}
.contact-right{
    flex-basis: 40%;
    padding: 40px;
    background-color: #d5bff7;
    color: rgb(84, 78, 78);
}
h1{
    margin-bottom: 1rem;
}
.container p{
    margin-bottom: 40px;
}
.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-basis: 45%;
}
input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;

}
textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
    }
    label{
        margin-bottom: 6px;
        padding-right: 1rem;
        display: block;
        color: #1c00b5;
    }
    button{
        background-color:white ;
        width: 100px;
        border: none;
        outline: none;
        color: #1c00b5;
        height: 35px;
        border-radius: 6rem;
        margin-top:20px ;
        border: 1px solid #1c00b5 ;

    }
    button:hover{
        color:white ;
        background-color: #6400b5;
        
    }
    .contact-left h3{
        color: #1c00b5;
        font-weight: 600;
        margin-bottom:35px ;

    }
    .contact-right h3{
        font-weight: 600;
        margin-bottom:35px ;
        text-align: center;

    }
    /* .tbl{ */
        /* margin-left: 5rem; */
    /* } */
    /* tr td :first-child{ */
        /* margin-left: 20px; */
    /* } */

    tr td{
        padding-top: 20px;
    }



    /* Footer*/


 .footer{
    background-color: rgba(0, 0, 0, 0.897);
    padding: 3rem 0;
    line-height: 25px;
    font-family: 'Inter','Poppins', sans-serif;
 }
 .Cont{
    width: 100%;
 }
 .r1{
    width: 85rem;
 }
 .r1 ul li{
    list-style: none;
 }
 .r1 ul li a{
    text-decoration: none;
 }
 .r-col .f-hd{
    /* color: rgb(113, 78, 78); */
    font-size: 24px;
    text-transform: capitalize;
    margin: 0 0 30px 1.5rem;
    width: 10rem;
    font-weight: 500;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
 }
 .f-hd:hover{
    color: #00aeff !important;
 }
 .r-col ul li a{
    text-decoration: none;
    color: rgb(145, 138, 138);
    font-size: 15px;
    width: 6rem;
    display: block;
    text-transform: capitalize;
    transition:all 0.3s ease;

 }
 .r-col ul li a:hover{
    color: beige;
    padding-left: 10px;
    text-shadow: 0px 0px 15px rgb(147, 162, 176);
    /* background-color: rgb(147, 162, 176); */
 }
 .r-col .social-link a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 4px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 45%;
    color: #ffffff;
    transition: all 0.3s ease;
   }
 .r-col .social-link a:hover{
    color: #24262b;
    box-shadow: 0px 0px 12px rgb(147, 162, 176);
    background-color: #ffffff;
 }  
      

 .dvlp{
    margin-bottom: -3rem;
    padding-top: 0.4rem;
    opacity: 0.6;
 }

 .dvlp-h{
    font-size: 0.6rem !important;

 }
 .dvlp-h a{
    text-decoration: none;
 }
 .dvlp-h a:hover{
    text-decoration:underline;
    opacity: 0.8;
 }