
.f_offer{
    background-color: var(--theme-dark-blue);
}
/* marquee{} */
.marq_a{
    font-size: 24px;
    color: goldenrod !important;
   

}
.marq-txt {
    padding-top: 0.3rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.happy{
    margin: 0.5rem 0rem !important;
 }
 .sub_content1{
    display:none;
 }
/*.ico3{
    padding: 1rem 2rem;
    margin:0rem .5em !important;
    width: 15rem !important;
    height: auto !important;
    background-color: rgb(247, 247, 247) !important;    
    box-shadow: 0px 0px 20px rgb(147, 162, 176);
    border-radius: 1rem;
}*/
.ico3{
    padding: 1rem 2rem;
    margin:0rem .5em !important;
    width: 15rem !important;
    height: auto !important;
    background-color: rgb(247, 247, 247) !important;
    
    box-shadow: 0px 0px 20px rgb(147, 162, 176);
    border-radius: 1rem;
}
.swip_arrow{
    position: absolute;
    content:url(./Assets/image/swap-arrow.png);
    margin: -3rem 0 0 37.2%;
    height: 40px;
    transform: rotate(90deg);

}
.swip_arrow1{
    position: absolute;
    content:url(./Assets/image/swap-arrow.png);
    margin: -3rem 0rem 0 -1.8%;
    height: 40px;
    transform: rotate(90deg);

}
.way_cont {
    margin-top: 5rem;
}

/* .lbl_way {
    margin-right: .5rem;
    margin-bottom: 0.1rem;
} */

.Seat_cont {
    margin: 1.2rem -3rem 0 1rem;
    border-radius: 2rem;
}

.choose_1 {
    padding: 2% 0 0 10%;
    border: 2px solid rgb(225, 225, 225);
    border-radius: 3px;
}

.days {
    margin-left: -6%;
    font-size: 16px;
    font-weight: bold;
}

.r_from,.r_to  {
    display: none;
    position: absolute;
    margin: 3% 0 0 65%;
    color: red;
}

option {
    height: 1rem;
}
.ad_leave{
    margin-left: -33%;
}

a{
    text-decoration: none;
    font-weight: 700;
}
