.nav-item .line{
    background-color: rgb(239, 12, 12);
    height: 0.2rem;
    margin:-0.5rem 0 0 0.3rem;
    width:0%;
    left:auto;
    right: auto;
    border-radius: 0.5rem;
    transition:width 0.7s ease-in-out;
    opacity: 0;
}
.nav-item .nav-link:hover ~.line{
    opacity: 1;
    left:auto;
    right: auto;
    width: 90%;
}
.nav-item .nav-link:hover{
    color:rgb(255, 158, 30) !important;
}